#root {
  width: 100%;
  height: 100vh;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chart-container .apexcharts-menu,
.chart-container .apexcharts-tooltip {
  background-color: #1e293b !important;
  border-color: #475569 !important;
  color: #e2e8f0 !important;
}

.chart-container .apexcharts-tooltip-title {
  background-color: #334155 !important;
  border-color: #475569 !important;
  color: #e2e8f0 !important;
}