@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f172a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}

@layer components {
  .dashboard-card {
    @apply bg-dark-800 rounded-lg border border-dark-700 shadow-lg p-4 transition-all duration-300 hover:border-primary-700;
  }
}